body{
    background-color: #FFF864;
}
/*header*/
.header{
    background-color: #FF362C;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -250px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0px;        
    z-index: 999;
}
.header img{max-width: 100px; float: left; padding: 20px}
a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
a:hover{color: black;text-decoration: none; background-color: #F0794E;}

#menuToggle {display: none;}
.menu-icon {display: none;}
   
    .center, input{   
        margin: 0 auto;
        text-align: center;
        display: block
    }

    .central{display: wrap; margin: 0 auto}
    .main{margin-top: 140px;}
    .menu1 {
        margin-left: -320px;
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 320px;
        width: 100%;
        height: 0%;
        background-color: rgba(255, 55, 44);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
    .nav1{margin-top: 120px; font-size: 50px}
    .nav2{font-size: 50px; margin-top: 20px}
    .navp1{margin-top: -20px}
    .menu1 a {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        top: 55px;
        right: 30px;
        line-height: 60px;
        color: white;
        z-index: 999;
    }

    #menuToggle:checked ~ label i:nth-child(2) {
      display: block;
    }
    #menuToggle:checked ~ label i:first-child {
      display: none;
    }
    #menuToggle:not(:checked) ~ label i:first-child {
      display: block;
    }
    #menuToggle:not(:checked) ~ label i:nth-child(2) {
      display: none;
    }
  
    #menuToggle:checked ~ nav {
        height: 100%;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
.pesquisa{background: #F0794E; display: wrap; margin: 0 auto; width: 100%}
/*fim header*/
.maisAcessadas, .principaisCategorias, .seusFavoritos{display: wrap; margin:0 auto; text-align: center; padding: 20px 20px 10px 0}
.corpo{margin-top: 140px; width: 100%; }

/*cards*/
.receita{background-color: #F0794E; margin: 10px 10px 10px 0;  max-width:320px;  display:inline-block;} 
.receita h6{padding:10px; font-family: 'Quicksand', sans-serif;}
.receita h3{font-family: 'Pacifico', cursive; color: #C5EB62}
.receita h3:hover{font-size: 30px}
.h3{padding: 20px}
h2{font-family: 'Bebas Neue', cursive;}
.scroll::-webkit-scrollbar {background: #FF362C}
.scroll::-webkit-scrollbar-thumb  {background-color: #F0794E;}
.scroll::-webkit-scrollbar-button{background-color:none}
@media screen and (min-width:1023px){
    .imagemReceita{float: left; }
    .descricaoReceita{width: 60%; background: #e0dfdf; height: 100%; font-weight: bold;  margin-left: 20px; height: 300px ; padding: 50px; font-family: 'Quicksand', sans-serif;}
    .infosPrincipais{display: flex; flex-direction: row; justify-content: center;  }
    .listasUtensilios{width: 45%; font-family: 'Raleway', sans-serif; display: wrap; margin: 0 auto; padding-right: 15px }
    .botaoFinal2 {margin-left: 50px;}
.wrapper{ 
        margin: auto; 
        text-align: center; 
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-top: 5px;}
        .scroll { 
            max-width: 1200px!important;
            overflow-x: scroll;
            height: 428px;
            white-space:nowrap;
        } 
    }
    @media screen and (min-width:300px) and (max-width:980px){
        .wrapper{ 
        display: wrap;
        margin: auto; 
        text-align: center; 
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-top: 5px;}
                
    .scroll { 
        max-width: 350px;
        overflow-x: scroll;
        height: 430px;
        white-space:nowrap;
        padding-left: 10px}
    .favoritos{clear: both; width: 100%}            
    
.imagemReceita img{width: 60%; display: wrap; margin: 0 auto; padding-left: 15px}
.descricaoReceita{margin: 0px 0 0 20px; padding: 20px; background: #e0dfdf;font-family: 'Quicksand', sans-serif;  }
.labelLista{width:85%; padding: 5px; display: block; margin: center;   }
.checkLista input{width: 100px}
.botaoFinal2{width: 100%}
}
.labelLista{font-family: 'Quicksand', sans-serif;}

/* fim cards*/ 


/* REGISTRO */
.corpo1{ text-align: center; padding-top: 10px }
.corpoRegistrar{width: 100%; padding:10px; font-family: 'Quicksand', sans-serif;}
.formInscricao{margin: auto; text-align: center; position: relative;}
.formNome, .formEmail, .formSenha, .formSenha1{padding: 10px; margin-top: 20px} 
.formNome:hover, .formEmail:hover, .formSenha:hover, .formSenha1:hover{ font-size: 25px;  font-weight: bold;}
#nome, #email, #senha, #senha2{text-align: left; border: 1px solid #F0794E; padding: 2px}
.notificacoes, .termos{width: 90%; float: left; position: relative; display: wrap; text-align: justify}
.termosUso{color: black}
.checkboxes{text-align: left; width: 100%; margin-top: 10px }
input[type=checkbox]{ float: right; width: 10%; margin-top: 20px}
label{width: 100%; font-weight: bold; }
.criarConta{text-align: center; border: none; font-weight: bold; background: none; width: 100%; padding: 20px;  font-family: 'Quicksand', sans-serif; text-transform: uppercase;}
.termos, .notificacoes{padding-top: 10px}
hr{border: 0.6px solid grey; clear: both}
.senha:hover{background: none;}
/*fim registro*/

/* CONTA */
.foto{text-align: center}
.infos{width: 80%; display: wrap; margin: 0 auto}
/* CONTA */

/* RODAPÉ */
.footer{width: 100%;  background-color: #FF362C;}
.footer p{text-align: center; color: white; padding: 10px}

/* FAVORITOS */
.receitaFavoritos{display: inline-block; padding: 20px}
        /* FIM FAVORITOS */

/*INGREDIENTES*/
.barraIngrediente{width: 80%;  display: inline; border-radius: 0.8rem; border:  2px solid black; height: 45px; }
.botaoPesquisar{background-color: #F0794E; border: 2px solid black; padding: 8px; margin-left: 10px; border-radius: 0.8rem;}
.pesquisaIngrediente{margin: 0 auto; padding-left: 20px}
/*FIM INGREDIENTES*/

/* VISUALIZAR RECEITA */
.divisaoReceita{width: 40%; margin-top: -10px}
.h6Receita{padding-left: 20px}
.labelCronometro{margin-top: 20px}
.checkCronometro{float: left; width: 40%; background: #C5EB62; border: 1px solid black; border-radius: 0.6rem}
.botaoCronometro{border: none; padding: 2px 5px 2px 5px; font-weight: bold; background-color: #63FF7B;}
.botaoCronometro:hover{background: none;}
.botaoCronometro::-webkit-scrollbar-button{display: none}
.receitaComentarios{text-align: center; font-family: 'Quicksand', sans-serif;}
.botaoComentario{margin:0 20px 20px 20px; float: right; background: none; border: 2px solid black}
.botaoComentario:hover{width: 15%}
.botaoFinal{clear: both;}
.botaoFinal2 { background: none; border: 2px solid black;  margin-bottom: 20px }
.botaoFinal2:hover{border-radius: 0.8rem}
.botaoFinal{font-family: 'Quicksand', sans-serif;}
.comentarioReceita{margin-bottom: 34px}
/* FIM VISUALIZAR RECEITA */
